@import "./../../assets/styles/main.css";

h3 {
  color: white;
}

.suggestions {
  border: 3px solid var(--primary-background-color);
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
}

.show-more {
  text-decoration: none;
  color: var(--link-color);
}

.suggested-pages {
  margin: 20px 0;
}

.suggested-pages > div {
  margin: 15px 0;
}
