@import "./../../assets/styles/main.css";

.account {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.account > div {
  display: flex;
}

.account img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.account .name {
  color: var(--primary-text-color);
  font-weight: bold;
}
.account .id {
  color: var(--secondary-text-color);
}

.account .three-dots {
  height: 60px;
}
.account .three-dots:after {
  font-size: 2rem;
  color: var(--primary-text-color);
  content: "...";
}

.account .action {
  display: flex;
  align-items: center;
}

.account .verified {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
